@{
  Layout="Shared/_Layout.cshtml";
}

<h1>@Model.GetSecretWord()</h1>
@foreach(char character in @Model.GetCurrentString())
  {
    <span>@character</span><span> </span>
  }

<p>
@foreach(var guess in @Model.GetGuesses())
{
  <span>@guess.GetGuessStr()</span>
}
</p>

<p>
You've been wrong @Model.GetFailCounter() times.
</p>

<form  action="/" method="post">
  <label for="guess">Guess letter or word</label>
  <input type="text" name="guess" value="" autofocus>
  <button type="submit" name="button">Make a guess</button>
</form>
